* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 1.8em Helvetica, Arial;background-color: lightgreen }
form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 89%; margin-right: .5%; }
form #button { color:#FFF; background: #4286f4; border: none; padding: 10px;  width: 10%;  float: right;margin-top: 4px;}
#messages { list-style-type: none; margin: 0; padding-bottom: 50px;position: relative; margin-bottom: 50px}
#messages li { padding: 5px 10px; background-color: #80b3ff }
#messages li:nth-child(odd) { background-color: #ffff66 }
#notifyUser { position: fixed; bottom: 42px; width: 100%; }



@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
}
@media only screen and (max-width: 500px) {
    #form{

        margin-right: 1em;
        background: crimson;
    }
        
    
}
